.p-one {
    color: blue;
    font-size: 48px;
}
.p-one {
    color: brown;
    font-style: italic;
}
#id-p-one {
    color: cornflowerblue;
    font-size: 30px;
}
#h1-id {
    color: bisque;
    font-weight: 700;
}
.p-one { 
}

span{
    display: block;
}

.lorem-div p{
    display: block;
}

