.p-one{
                color: blanchedalmond;
                font-size: 30px;
            }
            .h1-two{
                color: violet;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            #id-p-one{
                color: teal;
                font-weight: 700;
                font-size: 35px;
            }
            #h1-id{
                color: chocolate;
            }